nav {
  background-color: #f8f9fa;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

.navbar-nav .nav-link {
  color: #007bff; /* Azul */
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #0056b3; /* Azul más oscuro al pasar el ratón */
}

.navbar-nav .active {
  font-weight: bold;
  color: #0056b3; /* Azul más oscuro para el enlace activo */
}

#wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#page-content-wrapper {
  width: 100%;
}

.list-group-item {
  transition: all 0.3s ease;
  cursor: pointer;
  border-left: 3px solid transparent;
}

.list-group-item:hover {
  border-left: 3px solid #007bff;
  background-color: #e9ecef !important;
}

.list-group-item fa-icon {
  width: 20px;
  text-align: center;
  margin-right: 10px;
}

@media (min-width: 992px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

  #menu-toggle {
    display: none; /* Ocultar el botón en pantallas grandes */
  }
}

#menu-toggle {
  padding: 0.5rem 1rem;
}
